.contacto .header
  visibility invisible

.contacto .contact
  float none
  margin auto
  width 100%
  text-align center
  li
    margin-bottom 10px
    img, a
      margin-left 20px
      width 151px
    a
      font-size 125%
    i
      margin-right 10px

.contacto .contact ul
  list-style-type none
