.post.featured
  margin 1em

.home #content .header
  display none

.centered-block
  float none

.blog-latest-wrapper
  margin-top 3em

ul.blog-latest-posts
  list-style square inside none
  padding-left 0px
  margin 1em
  clear both
  width 100%
  li
    display inline
    float left
    margin .2em auto
    width 32%

.blog-latest-wrapper
  margin 1em auto
  width 100%

.blog-latest-widget > a
  color #000
  margin 1em
