.mix-spinner
  width 50%
  margin 1em auto
  animation-duration 2s
  animation-delay 0
  animation-iteration-count 1
  i
    margin auto
    text-align center
    display inline-block
    width 100%
    color #910101
