body
  margin 1em

.text-justify
    text-align justify

.header
    margin auto

a.tooltip
  text-align right

#content
  clear both
  article
    margin 1em auto

.header .logo-container
  width 50%
  margin 0 auto

.sobre .about
  width 80%
  margin 1em auto

#content .header
  animation-duration 4s
  animation-delay .2s
  animation-iteration-count 1

a
  color #888
  cursor pointer
  text-decoration none
