.letras .header
  visibility invisible

.letras
  float none
  margin auto
  width 100%
  text-align center
  font-size 150%
  position relative

.letras .half-width
  width 45%

.letras .letras-next
  position absolute
  right 0
  top 50%

.letras .editor-icons
  position absolute
  right 0
  top 0

.letras form div
  margin 1em

.letras .editable-text-trigger
  padding 1em
  whitespace pre
