<template name="Contacto">
<div class="contact animated fadeIn centered-block">
  <ul class="default-contact-wrapper">
    <li class="contact-phone"><i class="fa fa-phone"></i><a href="tel:+525541708612">(52) 554-170-8612</a></li>
    <li class="contact-address"><i class="fa fa-envelope"></i><img class="correo-img" src="/images/mail.png"></li>
    <div id="qrcode"></div>
    <li class="contact-key"><i class="fa fa-key"></i> <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x2BDAA98E58C55B9E">public key</a></li>
  </ul>

</div>
</template>
