<template name="headNav">

    <ul class="list-inline pull-left">
      <li>
        <a href="/"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Home">
          <img src="/favicon.png" class="fa fa-lg" aria-hidden="true"/>
        </a>
      </li>
      <li>
        <a href="/blog"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Blog">
          <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="/contacto"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Contacto">
          <i class="fa fa-qrcode fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="http://mgallery-kiai.rhcloud.com/"
          data-toggle="tooltip"
          data-placement="bottom"
          target="_blank"
          title="imagen">
          <i class="fa fa-image fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="/letras"
          data-toggle="tooltip"
          data-placement="bottom"
          target="_blank"
          title="Ciertas Letras">
          <i class="fa fa-font fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a
          data-toggle="tooltip"
          data-placement="bottom"
          target="_blank"
          title="Toggle Language">
          <i class="fa fa-language fa-lg"></i>
        </a>
      </li>
    </ul>

</template>
